article {
    border: 8px;
    border-color: darkgoldenrod;
    border-width: 16px;
    box-shadow: 3px;
    border-style: groove;
     width: 250px;
    height: 250px;
}

article img {
    width: 250px;
    height: 250px;
}

article p:last-of-type {
    padding-left:  1rem;
    cursor: pointer;
}

article p:last-of-type:hover {
    color:cadetblue;
    font-weight: bolder;
}

.article-button {
    margin: 5px;
}

.buttonMargin {
    margin: 8px;
}

p {
    color: floralwhite;
    padding: 8px;
}

h4 {
    background-color: lightcoral;
    padding: 8px;
}